:80, :443, stephenwan.com, stephenwan.net, stephen.fly.dev {
	@plausible path /js/script.js /api/event
	handle @plausible {
		# Change this if you use a different variant of the script
		# e.g. rewrite /js/script.js /js/script.outbound-links.js
		rewrite /js/script.js /js/script.outbound-links.js
		reverse_proxy https://plausible.tender.run {
			header_up Host {http.reverse_proxy.upstream.hostport}
		}
	}

	root * out
	try_files {path}.html
	# To turn on directory browsing, change the next line to "file_server browse"
	file_server
	# templates
}
