.grid {
  display: grid;

  margin: 1rem 0;
  width: 100%;

  justify-content: center;
  grid-template-columns: repeat(auto-fit, 70ch);
  grid-gap: 1rem;

  font-family: "EB Garamond", serif;
}

.list {
  width: 100%;
  background-color: #f1f2f6;
  padding: 1rem;
}

.list h1 {
  font-family: "Public Sans", serif;
  font-weight: 700;
  font-size: 1.5rem;
  float: right;
  border-bottom: 4px solid #1e90ff;
  margin-bottom: 1rem;
}

.place {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.place  + .place{
  padding-top: 1rem;
}

.place h3 {
  flex: 0 0 12ch;
  font-size: 1rem;
}

.place p {
  flex: 1 0;
}

.place p + p {
  padding-top: 1rem;
}
