.header {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.header img {
  height: 100%;
  flex: 0 0 50%;
  object-fit: cover;
  object-position: left bottom;
  overflow: hidden;
}

.header aside {
  font-family: "EB Garamond", serif;
  flex: 1 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f6;
  font-size: 1.75rem;
}

.grid {
  display: grid;

  margin: 1rem 2rem;
  width: 100%;

  grid-template-columns: repeat(auto-fit, minmax(auto, 70ch));
  grid-gap: 1rem;

  font-family: "EB Garamond", serif;
}

.list {
  width: 100%;
  padding: 1rem;
}

.list h1 {
  display: inline-flex;
  font-family: "Public Sans", serif;
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom: .25rem solid #1e90ff;
  margin-bottom: 1rem;
}

.place {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.place  + .place{
  padding-top: 1rem;
}

.place h3 {
  flex: 0 0 12ch;
  font-size: 1rem;
}

.place p {
  flex: 1 0;
}

.place p + p {
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .header {
    height: 30vh;
  }

  .header img {
    display: none;
  }

  .header aside {
    font-size: 1rem;
    flex: 1 0 100%;
  }

  .grid {
    margin: 0;
  }
}
